@model List<ResultBrandDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Markaları Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Arabalarla ilgili marka listesi, markalar üzerinde düzenleme ve bir markayı kaldırma işlemini buradan gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            @if (Model.Count > 0)
                            {
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Özellik</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                            <th>Markaya Ait Araçlar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Name</td>
                                                <td><a href="/AdminBrand/RemoveBrand/@item.BrandId" class="btn btn-rounded btn-outline-danger">Sil</a></td>
                                                <td><a href="/AdminBrand/UpdateBrand/@item.BrandId" class="btn btn-rounded btn-outline-success">Güncelle</a></td>
                                                <td><a href="/AdminBrand/UpdateBrand/@item.BrandId" class="btn btn-rounded btn-outline-dark">Markaya Ait Araçlar</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-info">
                                    <p class="mb-0">Herhangi bir kayıt bulunamadı.</p>
                                </div>
                            }
                            <a href="/AdminBrand/CreateBrand/" class="btn btn-rounded btn-outline-primary">Yeni Marka Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







