<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Categories</h3>
        <li><a href="#">Ferrari <span>(12)</span></a></li>
        <li><a href="#">Cheverolet <span>(22)</span></a></li>
        <li><a href="#">Ford <span>(37)</span></a></li>
        <li><a href="#">Subaru <span>(42)</span></a></li>
        <li><a href="#">Toyota <span>(14)</span></a></li>
        <li><a href="#">Mistsubishi <span>(140)</span></a></li>
    </div>
</div>