@model List<ResultCommentDto>

<style>
    .right {
        float: left;
        width: 600px;
    }
</style>

<ul class="comment-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="right">
                <h3>@item.Name</h3>
                <div class="meta">@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</div>
                <p>@item.Description</p>
            </div>
        </li>
    }
</ul>
