@model List<ResultLast3BlogsWithAuthorsDto>

<div class="sidebar-box ftco-animate">
    <h3>Son Bloglar</h3>
    @foreach(var item in Model)
    {
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" href="/Blog/BlogDetail/@item.BlogId" style="background-image: url(@item.CoverImageUrl);"></a>
            <div class="text">
                <h3 class="heading"><a href="/Blog/BlogDetail/@item.BlogId">@item.Title</a></h3>
                <div class="meta">
                    <div><span class="icon-calendar"></span> @item.CreatedDate.ToShortDateString()</div>
                    <div><span class="icon-person"></span> @item.AuthorName</div>
                </div>
            </div>
        </div>
    }
</div>